.home {
    font-size: 1.5rem;
    list-style: 2rem;
}

.titleNav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home .hero {
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 4.5rem;
    font-weight: bold;
    text-align:center;
}

.home p{
    font-family: 'Arial';
    font-style: bold;
}